# Team 3 - Final Project EDA

In [6]:
#!pip install pyathena

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting pyathena
  Downloading PyAthena-2.5.1-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 720 kB/s
Requirement already satisfied: tenacity>=4.1.0 in /opt/conda/lib/python3.7/site-packages (from pyathena) (8.0.1)
Requirement already satisfied: botocore>=1.5.52 in /opt/conda/lib/python3.7/site-packages (from pyathena) (1.23.23)
Requirement already satisfied: boto3>=1.4.4 in /opt/conda/lib/python3.7/site-packages (from pyathena) (1.20.23)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.4.4->pyathena) (0.10.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.4.4->pyathena) (0.5.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore>=1.5.52->pyathena) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.7/site-packages (from botocore>=1.5.52->pyathena) (1.26.7)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.5.52->pyathena) (1.14.0)
Installing collected packages: pyathena
Successfully installed pyathena-2.5.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

In [99]:
import boto3
import sagemaker
import pyathena as pa

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [100]:
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [101]:
# Athena staging bucket
s3_staging_dir = 's3://ads508team3/athena-staging/'

### Create myanimelist Database

In [102]:
# Create Database
conn = pa.connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [103]:
# Create Database and verify
pd.read_sql('CREATE DATABASE IF NOT EXISTS myanimelist', con=conn)
pd.read_sql('SHOW DATABASES', con=conn)

  database_name
0       default
1   myanimelist

## Create Athena Tables and Ingesting Data
 * animelist
 * anime
 * anime_with_synopsis
 * rating_complete
 * watching_status

In [104]:
dbname = 'myanimelist'

In [112]:
animelist_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         user_id integer,
         anime_id integer,
         rating integer,
         watching_status integer,
         watched_episodes integer
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'animelist', 's3://ads508-raw-data/animelist/')
pd.read_sql(animelist_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [ ]:
anime_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         status int,
         description string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'anime', 's3://ads508-raw-data/anime/')
pd.read_sql(watchlist_table, con=conn)

In [109]:
watchlist_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         status int,
         description string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'watching_status', 's3://ads508-raw-data/watching_status/')
pd.read_sql(watchlist_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [115]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (dbname,'animelist'), con=conn)

    user_id  anime_id  rating  watching_status  watched_episodes
0    212611     17074       0                6                 0
1    212611      9181       0                6                 0
2    212611     16067       0                6                 0
3    212611     41491       0                6                 0
4    212611     39701       0                6                 0
5    212611     20507       0                6                 0
6    212611     34392       0                6                 0
7    212611     36431       0                6                 0
8    212611     14199       0                6                 0
9    212611      8769       0                6                 0
10   212611     19221       0                6                 0
11   212611     38555       0                6                 0
12   212611     42670       0                6                 0
13   212611     35240       0                6                 0
14   212611      4719       0                6                 0
15   212611     34561       0                6                 0
16   212611     39587       0                6                 0
17   212611     32262       0                6                 0
18   212611     38992       0                6                 0
19   212611     22865       0                6                 1