# Team 3 - Final Project EDA

In [2]:
!pip install pyathena

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting pyathena
  Using cached PyAthena-2.5.1-py3-none-any.whl (40 kB)
Requirement already satisfied: botocore>=1.5.52 in /opt/conda/lib/python3.7/site-packages (from pyathena) (1.23.23)
Requirement already satisfied: tenacity>=4.1.0 in /opt/conda/lib/python3.7/site-packages (from pyathena) (8.0.1)
Requirement already satisfied: boto3>=1.4.4 in /opt/conda/lib/python3.7/site-packages (from pyathena) (1.20.23)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.4.4->pyathena) (0.5.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.4.4->pyathena) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.7/site-packages (from botocore>=1.5.52->pyathena) (1.26.7)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore>=1.5.52->pyathena) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.5.52->pyathena) (1.14.0)
Installing collected packages: pyathena
Successfully installed pyathena-2.5.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

In [3]:
import boto3
import sagemaker
import pyathena as pa

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [5]:
# Athena staging bucket
s3_staging_dir = 's3://ads508team3/athena-staging/'

## Create myanimelist Database

In [6]:
# Create Database
conn = pa.connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [7]:
# Create Database and verify
pd.read_sql('CREATE DATABASE IF NOT EXISTS myanimelist', con=conn)
pd.read_sql('SHOW DATABASES', con=conn)

  database_name
0       default
1   myanimelist

## Create Athena Tables and Ingesting Data
 * animelist
 * anime
 * anime_with_synopsis
 * rating_complete
 * watching_status

In [8]:
dbname = 'myanimelist'

In [9]:
animelist_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         user_id integer,
         anime_id integer,
         rating integer,
         watching_status integer,
         watched_episodes integer
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'animelist', 's3://ads508-raw-data/animelist/')
pd.read_sql(animelist_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [59]:
anime_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         MAL_ID int, Name string, Score string, Genres string, English_name string, Japanese_name string, Type string, 
         Episodes string, Aired string, Premiered string, Producers string, 
         Licensors string, Studios string, Source string, Duration string, Rating string, Ranked string,
         Popularity int, Members int, Favorites int, Watching int, Completed int, 
         On_Hold int, Dropped int, Plan_to_Watch string, 
         Score_10 string, Score_9 string, Score_8 string, Score_7 string, Score_6 string, Score_5 string, Score_4 string, Score_3 string, Score_2 string, Score_1 string
) ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
  STORED AS TEXTFILE LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'anime', 's3://ads508-raw-data/anime/')
pd.read_sql(anime_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [40]:
synopsis_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         MAL_ID int,
         Name string,
         Score string,
         Genres string,
         sypnopsis string
) ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
  STORED AS TEXTFILE LOCATION '{}'
  TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'synopsis', 's3://ads508-raw-data/synopsis/')
pd.read_sql(synopsis_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [12]:
rating_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         user_id int,
         anime_id int,
         rating int
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'ratings', 's3://ads508-raw-data/ratings/')
pd.read_sql(rating_table, con=conn)

Empty DataFrame
Columns: []
Index: []

In [13]:
watchlist_table = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         status int,
         description string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(dbname, 'watching_status', 's3://ads508-raw-data/watching_status/')
pd.read_sql(watchlist_table, con=conn)

Empty DataFrame
Columns: []
Index: []

### Raw Data Inpsection from Athena

In [15]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (dbname, 'animelist'), con=conn)

    user_id  anime_id  rating  watching_status  watched_episodes
0     73378     10800       0                6                 0
1     73378     14397       0                6                 0
2     73378     35821       0                6                 0
3     73378      4181       0                6                 0
4     73378      1818       0                6                 0
5     73378     34437       0                6                 0
6     73378      8142       0                6                 0
7     73378     20031       0                6                 0
8     73378      1482       0                6                 0
9     73378     32370       0                6                 0
10    73378     32189       0                6                 0
11    73378     33028       0                6                 0
12    73378     28223       0                6                 0
13    73378     40056       0                6                 0
14    73378      2164       0                6                 0
15    73378      5177       0                6                 0
16    73378     40852       0                6                 0
17    73378     39519       0                6                 0
18    73378     36480       0                6                 0
19    73378       790       0                6                 0

In [60]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (dbname, 'anime'), con=conn)

,mal_id,name,score,genres,english_name,japanese_name,type,episodes,aired,premiered,...,score_10,score_9,score_8,score_7,score_6,score_5,score_4,score_3,score_2,score_1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0
5,15,Eyeshield 21,7.95,"Action, Sports, Comedy, Shounen",Unknown,アイシールド21,TV,145,"Apr 6, 2005 to Mar 19, 2008",Spring 2005,...,9226.0,14904.0,22811.0,16734.0,6206.0,2621.0,795.0,336.0,140.0,151.0
6,16,Hachimitsu to Clover,8.06,"Comedy, Drama, Josei, Romance, Slice of Life",Honey and Clover,ハチミツとクローバー,TV,24,"Apr 15, 2005 to Sep 27, 2005",Spring 2005,...,11829.0,16309.0,20008.0,13062.0,5574.0,3148.0,1339.0,484.0,278.0,321.0
7,17,Hungry Heart: Wild Striker,7.59,"Slice of Life, Comedy, Sports, Shounen",Unknown,ハングリーハート Wild Striker,TV,52,"Sep 11, 2002 to Sep 10, 2003",Fall 2002,...,1123.0,1777.0,3102.0,3075.0,1286.0,602.0,218.0,88.0,31.0,32.0
8,18,Initial D Fourth Stage,8.15,"Action, Cars, Sports, Drama, Seinen",Unknown,頭文字〈イニシャル〉D FOURTH STAGE,TV,24,"Apr 17, 2004 to Feb 18, 2006",Spring 2004,...,10948.0,15820.0,22379.0,12912.0,3874.0,1236.0,369.0,97.0,48.0,259.0
9,19,Monster,8.76,"Drama, Horror, Mystery, Police, Psychological,...",Monster,モンスター,TV,74,"Apr 7, 2004 to Sep 28, 2005",Spring 2004,...,77350.0,60652.0,43459.0,22045.0,8861.0,4381.0,2086.0,882.0,593.0,1177.0
10,20,Naruto,7.91,"Action, Adventure, Comedy, Super Power, Martia...",Naruto,ナルト,TV,220,"Oct 3, 2002 to Feb 8, 2007",Fall 2002,...,216866.0,234481.0,345563.0,286175.0,108155.0,46886.0,15477.0,6098.0,3582.0,5310.0
11,21,One Piece,8.52,"Action, Adventure, Comedy, Super Power, Drama,...",One Piece,ONE PIECE,TV,Unknown,"Oct 20, 1999 to ?",Fall 1999,...,292445.0,166186.0,141755.0,85424.0,35342.0,19019.0,8201.0,3675.0,2616.0,6340.0
12,22,Tennis no Ouji-sama,7.9,"Action, Comedy, Sports, School, Shounen",The Prince of Tennis,テニスの王子様,TV,178,"Oct 10, 2001 to Mar 23, 2005",Fall 2001,...,9576.0,12719.0,19791.0,16284.0,6624.0,3086.0,1071.0,443.0,210.0,225.0
13,23,Ring ni Kakero 1,6.38,"Action, Shounen, Sports",Unknown,リングにかけろ１,TV,12,"Oct 6, 2004 to Dec 15, 2004",Fall 2004,...,69.0,61.0,152.0,260.0,236.0,143.0,88.0,40.0,32.0,28.0
14,24,School Rumble,7.94,"Comedy, Romance, School, Shounen",School Rumble,スクールランブル,TV,26,"Oct 5, 2004 to Mar 29, 2005",Fall 2004,...,17907.0,27623.0,38112.0,27327.0,11034.0,5396.0,1897.0,780.0,441.0,405.0
15,25,Sunabouzu,7.42,"Action, Adventure, Comedy, Ecchi, Sci-Fi, Shounen",Desert Punk,砂ぼうず,TV,24,"Oct 6, 2004 to Mar 30, 2005",Fall 2004,...,3589.0,6664.0,12349.0,12702.0,6033.0,3079.0,1521.0,643.0,350.0,297.0
16,26,Texhnolyze,7.76,"Action, Sci-Fi, Psychological, Drama",Texhnolyze,TEXHNOLYZE,TV,22,"Apr 17, 2003 to Sep 25, 2003",Spring 2003,...,6856.0,8309.0,10851.0,8636.0,4429.0,2462.0,1456.0,684.0,411.0,664.0
17,27,Trinity Blood,7.32,"Action, Supernatural, Vampire",Trinity Blood,トリニティ・ブラッド,TV,24,"Apr 29, 2005 to Oct 28, 2005",Spring 2005,...,6091.0,9759.0,17761.0,20152.0,10273.0,5392.0,2250.0,873.0,456.0,298.0
18,28,Yakitate!! Japan,7.95,"Comedy, Shounen",Yakitate!! Japan,焼きたて!! ジャぱん,TV,69,"Oct 12, 2004 to Mar 14, 2006",Fall 2004,...,4347.0,7425.0,11074.0,7965.0,3038.0,1248.0,345.0,118.0,56.0,58.0
19,29,Zipang,7.51,"Action, Military, Sci-Fi, Historical, Drama, S...",Unknown,ジパング,TV,26,"Oct 8, 2004 to Apr 1, 2005",Fall 2004,...,430.0,874.0,1801.0,1696.0,662.0,279.0,114.0,38.0,13.0,28.0

In [41]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (dbname, 'synopsis'), con=conn)

,mal_id,name,score,genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...
5,15,Eyeshield 21,7.95,"Action, Sports, Comedy, Shounen",Sena is like any other shy kid starting high s...
6,16,Hachimitsu to Clover,8.06,"Comedy, Drama, Josei, Romance, Slice of Life","Yuuta Takemoto, a sophomore at an arts college..."
7,17,Hungry Heart: Wild Striker,7.59,"Slice of Life, Comedy, Sports, Shounen",Kyosuke Kano has lived under the shadow of his...
8,18,Initial D Fourth Stage,8.15,"Action, Cars, Sports, Drama, Seinen",Takumi Fujiwara finally joins Ryousuke and Kei...
9,19,Monster,8.76,"Drama, Horror, Mystery, Police, Psychological,...","Dr. Kenzou Tenma, an elite neurosurgeon recent..."
10,20,Naruto,7.91,"Action, Adventure, Comedy, Super Power, Martia...","oments prior to Naruto Uzumaki's birth, a huge..."
11,21,One Piece,8.52,"Action, Adventure, Comedy, Super Power, Drama,...","Gol D. Roger was known as the ""Pirate King,"" t..."
12,22,Tennis no Ouji-sama,7.9,"Action, Comedy, Sports, School, Shounen",The world of tennis is harsh and highly compet...
13,23,Ring ni Kakero 1,6.38,"Action, Shounen, Sports","In order to fulfill their dead father's wish, ..."
14,24,School Rumble,7.94,"Comedy, Romance, School, Shounen","Just the words ""I love you,"" and everything ch..."
15,25,Sunabouzu,7.42,"Action, Adventure, Comedy, Ecchi, Sci-Fi, Shounen","The Great Kanto Desert, a sweltering wasteland..."
16,26,Texhnolyze,7.76,"Action, Sci-Fi, Psychological, Drama","Texhnolyze takes place in the city of Lux, a m..."
17,27,Trinity Blood,7.32,"Action, Supernatural, Vampire","Following Armageddon, an apocalyptic war, mank..."
18,28,Yakitate!! Japan,7.95,"Comedy, Shounen","hile countries such as France, England, and Ge..."
19,29,Zipang,7.51,"Action, Military, Sci-Fi, Historical, Drama, S...","ai, an improved Kongou-class Aegis guided miss..."

In [18]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (dbname, 'ratings'), con=conn)

    user_id  anime_id  rating
0    164256       339       8
1    164256     38659       8
2    164256       199      10
3    164256      8292       7
4    164256     16472       8
5    164256     24021       7
6    164256     28157       7
7    164256     26059       6
8    164256       205       9
9    164256     13759       9
10   164256     16123       8
11   164256     11749       7
12   164256      5277       8
13   164256     16498       9
14   164256     18397       7
15   164256     25777       8
16   164256      2966       9
17   164256      5341       9
18   164256      6007       8
19   164256      8769       8

In [19]:
pd.read_sql('SELECT * FROM %s.%s LIMIT 20' % (dbname, 'watching_status'), con=conn)

   status         description
0       1  Currently Watching
1       2           Completed
2       3             On Hold
3       4             Dropped
4       6       Plan to Watch

### Construct DataFrames

In [ ]:
anime_list = pd.read_sql('SELECT * FROM %s.%s' % (dbname, 'animelist'), con=conn)
anime = pd.read_sql('SELECT * FROM %s.%s' % (dbname, 'anime'), con=conn)
synopsis = anime_list = pd.read_sql('SELECT * FROM %s.%s' % (dbname, 'synopsis'), con=conn)
ratings = anime_list = pd.read_sql('SELECT * FROM %s.%s' % (dbname, 'ratings'), con=conn)
watching_status = anime_list = pd.read_sql('SELECT * FROM %s.%s' % (dbname, 'watching_status'), con=conn)

In [ ]:
anime_list